.header {
  padding: 1.6rem 0 1.6rem;
}

.heading-secondary {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
}

.section {
  padding: 1.6rem 0 2.4rem;
}
